/* navbar section responsive */

@media (max-width: 1024px) {
  .nav-links {
    display: none;
  }

  #mobile-menu-btn {
    display: block;
  }

  #moon {
    display: none;
  }
}

@media (max-width: 1024px) {
  .dropdown-menu {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .dropdown-menu li {
    padding: 10px 0;
  }
}

/* home section responsive */
@media (max-width: 1040px) {
  .home-grid {
    grid-template-columns: 1fr;
  }
  .home-img-container {
    justify-self: center;
  }
  .home-img img {
    grid-column: 1fr;
    order: 1;
  }

  .home-content {
    grid-column: 1fr;
    order: 2;
  }

  .fbtn {
    display: block;
    white-space: nowrap;
  }

  .home-content p {
    max-width: 80vw;
  }
}

@media (max-width: 790px) {
  .home-content {
    padding-left: 30px;
  }
}

@media (max-width: 850px) {
  .home-content p {
    width: 550px;
  }
}

/* skills section responsive */
@media (max-width: 900px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }

  .skill-item .skill-bar {
    width: 330px;
  }
}

/* services section responsive */

@media (min-width: 800px) and (max-width: 1000px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .service-title {
    text-align: center;
  }

  .service-description {
    line-height: 21px;
  }
}

/* projects section responsive */

@media (max-width: 790px) {
  .projects-container .filter-buttons {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects-container .projects-grid {
    grid-template-columns: 1fr;
    padding: 0px 5rem;
  }
}

@media (min-width: 790px) and (max-width: 1000px) {
  .projects-container .filter-buttons {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects-container .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 80px;
  }
}

/* @media (max-width:604) {
    .projects-container .projects-grid .projects-card{
        padding:0px 200px;
        width: 90%;
    }
} */

/* contact section responsive */
@media (max-width: 650px) {
  .form-container {
    width: 80%;
  }
}

@media (max-width: 420px) {
  .form-container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .home-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .services-grid,
  .projects .projects-grid {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .filter-buttons {
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }

  .form-container {
    width: 90%;
    padding: 20px;
  }

  #mobile-menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
  }
}
